<h1>Listagem de Filmes</h1>

<table border=1 cellpadding=5>
  <tr>
    <th>
      <% if partner_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_partner_session_path, :method => :delete) %>
      <% else %>
        <li>
        <%= link_to('Login', new_partner_session_path)  %>  
        </li>
      <% end %>
    </th>
    <th>
      <% if partner_signed_in? %>
        <%= link_to 'Editar usuário', edit_partner_path(current_partner) %>
      <% end %>
    </th>
    <th>
      <% if partner_signed_in? && session[:movie_to_rent] %>
        <%= link_to('Meus Filmes', new_rent_path) %>
      <% end %>
    </th>
    <th>
      <% if current_partner.try(:admin?) %>
        <%= link_to '=> Cadastrar novo filme <=', new_movie_path %>
      <% end %>
    </th>
    <th>Preço por filme: R$4,00</th>
  </tr>
</table>

<table border=1 cellpadding=5>
  <tr>
    <th>Capa</th>
    <th>Título</th>
    <th>Gênero</th>    
    <th>Alugar</th>
    <th>Qtd.</th>
    <% if partner_signed_in? %>
      <th>Adicionar mais um exemplar</th>
    <% end %>
    <hr />
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= link_to image_tag("movie_#{movie.id}.jpg", :size => "130x170"), movie %></td>
    <td><%= movie.title %></td>
    <td><%= movie.classification %></td>
    <td><% if partner_signed_in? %>            
            <%= link_to('Alugar', new_rent_path(:movie_id => movie)) %>
          <% else %>
            <%= link_to('Alugar', new_partner_session_path) %>
        <% end %>
    </td>
    <td><%= movie.copies.count %></td>    
    <% if current_partner.try(:admin?) %> 
      <td><%= link_to 'Adicionar mais um exemplar', add_new_copy_movie_path(movie) %></td>
      <td><%= link_to 'Editar', edit_movie_path(movie) %></td>
      <td><%= link_to 'Apagar', movie, confirm: 'Tem certeza?', method: :delete %></td>
    <% end %>
  </tr>  
<% end %>
</table>
<hr />