<h1>Para Alugar</h1>

<table border=1 cellpadding=5>
	<tr>
    <th>Capa</th>
    <th>Título</th>
    <th>Gênero</th>
    <th>Retirar Filme</th>
    <hr />
  </tr>
  <% @movies.each do |movie| %>
		<tr>
			<td>
				<%= link_to image_tag("movie_#{movie.id}.jpg", :size => "220x310"), edit_movie_path(movie) %>
			</td>
			<td>
				<%= movie.title %>
			</td>
			<td>
				<%= movie.classification %>
			</td>
			<td>
				<%= link_to 'Apagar', destroy_movie_rent_movie_path(movie), confirm: 'Tem certeza?' %>
			</td>
	  </tr>
	<% end %>
</table>
<hr />

<table border=1 cellpadding=5>
	<tr>
		<td>
			Total de filmes:
		</td>
		<td>
			<%= @movies.count %>
		</td>
		<td>
			Valor:
		</td>
		<td>R$
			<%= @movies.count * 4 %>,00
		</td>
	</tr>
</table>
<hr />

<%= render 'form' %>

<%= link_to 'Voltar', movies_path %>
<%= link_to 'Back', rents_path %>
